blockquote {
    border-left: 3px solid #ccc;
    font-style: italic;
    padding-left: 1em;
    margin-left: 0;
}
pre {
    color: #444;
    background: #fbfbfb;
    padding: 1em;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: scroll;
}
body {
    max-width: 690px;
    margin: 0 auto;
    padding: 2em 1em;
    font-family: Georgia;
    background: #fdfdfd;
    color: #0e0e0e;
}
p, blockquote {
    line-height: 1.5;
}
hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.Variable {
    border: 1px solid rgba(0,0,255,0.8);
    padding: 0.1em;
    position: relative;
    border-radius: 3px;
}
.Variable .variable-label {
    font-size: 0.8em;
    background-color: yellow;
    border: 1px dotted #ccc;
    font-family: Menlo, Courier New, monospace;
}
.Variable .variable-label:before {
    content: "@";
}
.Variable.readonly {
    border-color: rgba(0,0,255,0.2);
}
.NumberVar .slider {
    width: 200px;
    position: absolute;
    bottom: 100%;
    left: -25px;
    display: none;
}
.NumberVar:hover .slider, .NumberVar:active .slider  {
    display: block;
}
.BinaryVar label, .BinaryVar input {
    cursor: pointer;
}
.GraphView {
    margin: 1em 0;
}
.GraphView .graph-title {
    text-align: center;
    font-weight: bold;
}
.GraphView .graph-canvas {
    width: 100%;
}

#raw {
    font-family: Menlo;
    white-space: pre;
    border-bottom: 1px solid #ccc;
    max-height: 0;
    overflow: hidden;
    -webkit-transition-property: max-height;
    -webkit-transition-duration: 0.5s;
}
#raw.visible {
    max-height: 10000px;
}