body.display-variable-names .BaseElementView .name {
  display: block;
}
.BaseElementView {
  display: inline;
  border-bottom: 1px dashed #00f;
  position: relative;
}
.BaseElementView.readonly {
  border-bottom-color: rgba(0,0,255,0.3);
}
.BaseElementView:hover .name {
  display: block;
}
.BaseElementView .name {
  position: absolute;
  bottom: 100%;
  left: 0;
  display: none;
  background: #ff0;
  border: 1px dotted #000;
  font-family: Menlo, Courier New, monospace;
  padding: 0.25em;
  opacity: 0.9;
}
.BaseElementView .name:before {
  content: "@";
  font-style: italic;
}
