

$element_color = rgba(0,0,255,0.3)
$element_hover_color = rgba(0,0,255,1)
$element_active_color = rgba(0,0,190,1)
$read_only_element_color = rgba(130,130,130,0.4)

$tag_bg_color = rgba(247,230,143,1)
$tag_border_color = rgba(96,88,57,1)

$highlight_color = rgba(247,230,143,0.7)

$serif = Georgia, Times, "Times New Roman", serif
$sans_serif = Helvetica, Arial, sans-serif;
$monospace = Menlo, Courier New, monospace

$background_color = rgba(250,250,248,1)
$code_bg_color = rgba(245,245,245,1)
$text_color = rgba(5,5,10,1)
$border_color = rgba(200,200,200,1)



transition($properties, $duration=1s, $easing=linear)
    -webkit-transition-property: $properties
    -webkit-transition-duration: $duration
    -webkit-transition-easing: $easing
    -moz-transition-property: $properties
    -moz-transition-duration: $duration
    -moz-transition-easing: $easing
    -ms-transition-property: $properties
    -ms-transition-duration: $duration
    -ms-transition-easing: $easing
    transition-property: $properties
    transition-duration: $duration
    transition-easing: $easing



// Base body styles

body
    max-width: 690px
    margin: 0 auto
    background: $background_color
    color: $text_color
    line-height: 1.5
    font-size: 16px
    padding: 1em

h1, h2, h3, h4, h5, h6
    font-weight: 300
    font-family: $sans_serif

blockquote
    font-style: italic
    border-left: 3px solid $border_color
    margin-left: 0
    padding-left: 1em
    em
        font-style: normal

hr
    margin: 2em 0
    border: 0
    border-top: 1px solid $border_color

.CodeMirror
    border: 1px solid $border_color
    height: auto
    font-size: 0.8em

.CodeMirror-scroll
    height: auto
    overflow-y: hidden
    overflow-x: auto



// Elements

.BaseElementView

    display         : inline
    border-bottom   : 1px dotted $element_color
    position        : relative

    .name
        position        : absolute
        bottom          : 100%
        left            : 0
        display         : none
        background      : $tag_bg_color
        border          : 1px dotted $tag_border_color
        font-family     : $monospace
        font-size       : 0.7em
        padding         : 0.25em
        pointer-events  : none
        &:before
            content         : "@"
            font-style      : italic

    &.readonly
        border-bottom-color: $read_only_element_color

    &.editable
        &:hover
            color: $element_hover_color
            border-bottom-color: $element_hover_color
        &.active
            color: $element_active_color
            border-bottom-color: $element_active_color

    &:hover, &.active
        .name
            display: block


.StringElement
    cursor: text
    padding: 0 0.2em
    margin: 0 -0.2em
    transition(background-color, 0.5s)
    background-color: transparent
    &.no-transition
        transition(background-color, 0s)
    &.changed
        background-color: $highlight_color


.NumberElement

    cursor: col-resize

.BooleanElement

    cursor: pointer

    .switch
        position: relative

    .true-label, .false-label, .undefined-label
        display: none

    &[value="undefined"]
        .undefined-label
            display: inline

        .switch
            top: 0.12em
            color: gray

    &[value="true"]
        .true-label
            display: inline

        .switch
            top: 0
            color: green

    &[value="false"]
        .false-label
            display: inline

        .switch
            top: 0.25em
            color: red


.GraphElement
    .graph-canvas
        width: 100%
        height: 300px



// body display states
body
    &.dragging-x
        cursor: col-resize
    &.display-variable-names
        .BaseElementView .name
            display: block